version: "3.9"

services:
  postgres:
    image: postgres:9.6
    environment:
      POSTGRES_USER: inspirehep
      POSTGRES_PASSWORD: inspirehep
      POSTGRES_DB: inspirehep
    ports:
      - "5432:5432"

  elasticsearch:
    image: elasticsearch:7.10.1
    environment:
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: "-Xms1024m -Xmx1024m"
      discovery.type: "single-node"
    ports:
      - "9200:9200"
